# Root .gitignore
/backend/vendor/
/backend/node_modules/
/backend/public/build/
/backend/public/storage
/backend/storage/*.key
!/backend/storage/**/.gitkeep
/backend/storage/framework/cache/data/*
!/backend/storage/framework/cache/data/.gitkeep
/backend/storage/framework/sessions/*
!/backend/storage/framework/sessions/.gitkeep
/backend/storage/framework/views/*
!/backend/storage/framework/views/.gitkeep
/backend/storage/logs/*
!/backend/storage/logs/.gitkeep
/backend/.env
/backend/.phpunit.result.cache
/backend/auth.json

# Docker & OS
.DS_Store
Thumbs.db
*.log
.docker-compose.override.yml
